**Assignment 2**

**1**.What are the two values of the Boolean data type? How do you write them?

**Ans:** True and False are two values of the boolen data types. We have to use capital T and F and with the rest of the word in lowercase

In [ ]:
a = True
b = False
print('a: ', a)
print('b: ', b)

a:  True
b:  False

---


2. What are the three different types of Boolean operators?
**Ans:**There different types of Boolean operators are:

    1.AND
    2.OR
    3.NOT

In [ ]:
a=100
b=200
print(a>50 and b>100) # Example of boolean and
print(a>200 or b>100) # Example of boolean or
print(not(a>10)) # Example of boolean not

True
True
False

---

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

**Ans:**

In [ ]:
list_AND = [1 and 1, 1 and 0, 0 and 1, 0 and 0]
list_AND

[1, 0, 0, 0]

In [ ]:
list_OR = [1 or 1, 1 or 0, 0 or 1, 0 or 0]
list_OR

[1, 1, 1, 0]

In [ ]:
list_NOT = [not 1, not 0]
list_NOT

[False, True]

---

4. What are the values of the following expressions?


    (5 > 4) and (3 == 5)
    not (5 > 4)
    (5 > 4) or (3 == 5)
    not ((5 > 4) or (3 == 5))
    (True and True) and (True == False)
    (not False) or (not True)

**Ans:**

In [ ]:
print((5>4)and(3==5))
print(not(5>4))
print((5>4)or(3==5))
print(not((5>4)or(3==5)))
print((True and True)and(True==False))
print((not False)or(not True))

False
False
True
False
False
True

---


5. What are the six comparison operators?

**Ans:** The Six comparision operators available in python are:

    == , != , < , > , <= , =>

---

6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

**Ans:** 
1. ' = ' : single equals to sign is used for the assignment operation.
2. ' == ' : double equals to sign is used for the equal to condition check.

When we want to assign something we use the assignment operator For eg. a = 10.

When we want to check some condition we use the equal to condition check operator. For eg. 10 == 100

---


7. Identify the three blocks in this code:


    spam = 0
    if spam == 10:
    print('eggs')
    if spam > 5:
    print('bacon')
    else:
    print('ham')
    print('spam')
    print('spam')

**Ans:**

In [ ]:
spam = 0
if spam == 10:
  print('eggs')
if spam > 5:
  print('bacon')
else:
  print('ham')
print('spam')
print('spam')

ham
spam
spam

---

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

**Ans:**

In [ ]:
def spamCode(spam):
    if spam==1:
        print('Hello')
    elif spam==2:
        print('Howdy')
    else:
        print('Greetings')
        
spamCode(1) 
spamCode(2)
spamCode(3)

Hello
Howdy
Greetings

---


9. If your programme is stuck in an endless loop, what keys youâ€™ll press?

**Ans:** Press Ctrl-c to stop a program stuck in an infinite loop

---

10. How can you tell the difference between break and continue?

**Ans:** 

1.   **Break:** It is used to break the loop and exit from the loop
2.   **continue:** It is used to skip the current iteration of the loop and continue with the next iteration.

---

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

**Ans:**

In [ ]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(0, 10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(0, 10, 1):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

---


12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

**Ans:**

In [ ]:
for i in range(1, 11):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
i = 1
while i < 11:
    print(i, end = ' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

---

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

**Ans:**
    
    import spam
    spam.bacon()

---