**Assignment 4**

1. What exactly is [ ]?
**Ans:** The empty list represented by []. It is a list that contains no items.

---

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
**Ans:** spam[2]='hello' 

As lists follows zero based indexing.

In [1]:
spam = [2,3,4,6,8,10]
spam[2]='hello'
spam

[2, 3, 'hello', 6, 8, 10]

---

**Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.**

3. What is the value of spam[int(int('3'*2)//11)] ?

**Ans:**

In [2]:
spam=['a','b','c','d']
print(spam[int(int('3'*2)//11)])

d

---

4. What is the value of spam[-1]?
**Ans:**

In [3]:
spam=['a','b','c','d']
print(spam[-1])

d

---

5. What is the value of spam[:2]?
**Ans:**

In [4]:
spam=['a','b','c','d']
print(spam[:2])

['a', 'b']

---

**Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.**

6. What is the value of bacon.index(&#39;cat&#39;)?
**Ans:**

In [5]:
bacon=[3.14,'cat',11,'cat',True]
print(bacon.index('cat'))

1

---

7. How does bacon.append(99) change the look of the list value in bacon?
**Ans:** The append method adds new elements to the end of the list

In [6]:
bacon=[3.14,'cat',11,'cat',True]
bacon.append(99) # appends 99 to the end of the list
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

---

8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?
**Ans:** The remove method removes the first occurence of the element in the list

In [7]:
bacon=[3.14,'cat',11,'cat',True]
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True]

---

9. What are the list concatenation and list replication operators?
**Ans:** The operator for list concatenation is +, while the operator for replication is *. (This is the same as for strings.)

In [8]:
list_1 = ['ML','DL','AI','CV','NLP']
list_2 = ['RNN','CNN','SVN']
print(list_1 + list_2) # List Concatenation
print(list_2*2) # List Replication

['ML', 'DL', 'AI', 'CV', 'NLP', 'RNN', 'CNN', 'SVN']
['RNN', 'CNN', 'SVN', 'RNN', 'CNN', 'SVN']

---

10. What is the difference between the list method append() and insert()?
**Ans:** While append() will add values only to the end of a list, insert() can add them anywhere in the list.

In [11]:
list = [1,2,3,4,5]
list.append(100)
print(list)
list.insert(2,'test')
print(list)

[1, 2, 3, 4, 5, 100]
[1, 2, 'test', 3, 4, 5, 100]

---

11. What are the two methods for removing items from a list?
**Ans:** The del statement and the remove() method are two ways to remove values from a list.

In [9]:
numbers = [1, 2, 3, 2, 3, 4, 5]
del numbers[2]
print(numbers)

[1, 2, 2, 3, 4, 5]

---

12. Describe how list values and string values are identical.
**Ans:** Below are some reasons how list values and string values are identical:

1. Both lists and strings can be passed to len() function
2. Have indexes and slices, be used in for loops,
3. Can be concatenated or replicated
4. Can be used with the in and not in operators.

---

13. What's the difference between tuples and lists?
**Ans:** Lists are Mutable, Indexable and Slicable. they can have values added, removed, or changed. Tuples are Immutable but Indexable and Slicable. the tuple values cannot be changed at all. Also, tuples are represented using parentheses, (), while lists use the square brackets, [].

In [12]:
list_num = [1,2,3,4]
tup_num = (1,2,3,4)

print(list_num)
print(tup_num)

[1, 2, 3, 4]
(1, 2, 3, 4)

---

14. How do you type a tuple value that only contains the integer 42?
**Ans:** The trailing comma is mandatory otherwise its considered as a int by Interpreter

In [13]:
tup1=(42)
tup2=(42,)
print(type(tup1))
print(type(tup2))

<class 'int'>
<class 'tuple'>

---

15. How do you get a list value's tuple form? How do you get a tuple value's list form?
**Ans:** The tuple() and list() functions, respectively are used to convert a list to tuple and vice versa

---

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
**Ans:** They contain references to list values.

---

17. How do you distinguish between copy.copy() and copy.deepcopy()?
**Ans:** The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.

In [15]:
import copy
li1 = [1, 2, [3,5], 4]
li2 = copy.copy(li1)
li3 = copy.deepcopy(li1)
print(li1)
print(li2)
print(li3)

[1, 2, [3, 5], 4]
[1, 2, [3, 5], 4]
[1, 2, [3, 5], 4]

---