**Assignment 1**

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

        *, 'hello', -87.8 , - , / , + , 6

**Ans :-**
    
    Values: 'hello', -87.8, 6
      
    Expressions: *, -, /, +

---

2. What is the difference between string and variable?
**Ans :-**  Variable is a container which can store the data and this data can be of any data-type.

A String is a group of characters or a single character usually enclosed in Double quotes " " or single quotes ' '

---

3. Describe three different data types.

**Ans:-** 
1.   **int**: We can use int data type to represent whole numbers.
2.   **float**: We can use float data type to represent floating point values.
3.   **complex**: Complex number is represented by complex class.

---

4. What is an expression made up of? What do all expressions do?

**Ans:-** An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

---

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans:**  A statement is not evaluated for some results. A statement is used for creating variables or for displaying values. Whereas expression is a combination of operators and operands used to produce some result or value.



    x = 25           # a statement
    x = x + 10       # an expression

---

6. After running the following code, what does the variable bacon contain?

    bacon = 22

    bacon + 1

**Ans:**

In [ ]:
bacon=22
bacon+1
print(bacon)

22

---

7. What should the values of the following two terms be?

    'spam'+'spamspam'

    'spam'*3
**Ans:**

In [ ]:
print('spam'+'spamspam')

print('spam'*3)

spamspamspam
spamspamspam

---


8. Why is eggs a valid variable name while 100 is invalid?

**Ans:** Because the variable declartion in python is that the variable name must start with a alphabate or underscore '_'

For eg : a = 10, str1 = "Data", _val = -12.34

---

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans:** Typecasting can be used to get the value
    
    **for** int : int()
    for float : float()
    for string : str()

In [ ]:
print('int(10.0) -> ',int(10.0)) # int() function converts given input to int
print('float(10) -> ',float(10)) # float() function converts given input to float
print('str(10) -> ',str(10)) # str() function converts given input to string

int(10.0) ->  10
float(10) ->  10.0
str(10) ->  10

---

10. Why does this expression cause an error? How can you fix it?

    
'I have eaten ' + 99 + 'burritos.'

**Ans:** This cause of error is 99 because 99 is not a string. 99 must be typecasted to a string to fix this error. the correct way is:

In [ ]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

---